<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">F.I.N</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Budget</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Log In</a>
    </li>
  </ul>
</nav>