  <!-- Header -->
 <%- include('./partials/header.ejs')%>

  <!-- Main Content -->
  <main>
    <h1><%= error.status%></h1>
    <p><%= error.message%></p>
  </main>

  <!-- Footer -->
 <%- include('./partials/footer.ejs')%>