<!DOCTYPE html>
<html lang="en">
<head>
    <title>FIN: Home</title>
    <!-- Header -->
    <%- include('./partials/header.ejs'); %> <!--this includes all the imports and the navbar, leave the structure as is-->

<main class="homepage">
  <div class="home-text-area <%= user ? 'logged-in-center' : '' %>">
    <h1>Financial Insights Navigator</h1>
    
    <% if (!user) { %>
        <p>
          We can help you take control of your money by securely connecting your
          bank account, tracking your spending, and providing clear insights so you can:
        </p>
        <ul>
          <li>See where your money goes</li>
          <li>Find areas to save</li>
          <li>Build and manage budgets</li>
          <li>Make smarter financial decisions</li>
        </ul>
        
        <div class="home-buttons">
          <a href="/users/sign-up" class="home-btn start">Get Started</a>
          <a href="/users/log-in" class="home-btn login">Login</a>
        </div>

    <% } else { %>
        <p>
          We can help you take control of your money by securely connecting your
          bank account, tracking your spending, and providing clear insights so you can:
        </p>
        <ul>
          <li>See where your money goes</li>
          <li>Find areas to save</li>
          <li>Build and manage budgets</li>
          <li>Make smarter financial decisions</li>
        </ul>
    <% } %>

  </div>

  <div class="home-gif">
    <img src="images/Homepage_Image.gif" alt="Budget animation" />
  </div>
</main>

<!-- Footer -->
    <%- include('./partials/footer.ejs')%>
</html>