<!DOCTYPE html>
<html lang="en">
<head>
    <title>FIN: Home</title>
    <!-- Header -->
    <%- include('./partials/header.ejs'); %> <!--this includes all the imports and the navbar, leave the structure as is-->

<section>
    <h1 class="team-title">homepage</h1>
</section>


<!-- Footer -->
    <%- include('./partials/footer.ejs')%>
</html>