<!DOCTYPE html>
<html lang="en">
<head>
  <title>FIN: Inbox</title>
  <!-- Header -->
   <script src="/js/sendEmail.js"></script>
<%- include('../partials/header.ejs'); %>

    <h1>Inbox (WIP)</h1>
    <button onclick="sendEmail('khalonki@charlotte.edu')">Send Email</button>
  <!-- Footer -->
   <script type='module' src="/js/sendEmail.js"></script>
  <%- include('../partials/footer.ejs')%>
</html>
