<%- include('../partials/header.ejs')%>
<main>

    <div class="contianer">
        <form action="/users/sign-up" method="POST" class = "newuser-form">
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email"><br><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br><br>
            <label for="confirmpassword">Confirm Password</label><br>
            <input type="password" id="confirmpassword" name="confirmpassword"><br><br>

            <hr>
            <h3>Security Question for Recovery</h3>
            
            <label for="securityQuestion">Choose a Question</label><br>
            <select id="securityQuestion" name="securityQuestion" required>
                <option value="" disabled selected>Select your question</option>
                <option value="pet">What was the name of your first pet?</option>
                <option value="city">In what city were you born?</option>
                <option value="mother">What is your mother's maiden name?</option>
            </select><br><br>

            <label for="securityAnswer">Your Secret Answer</label><br>
            <input type="text" id="securityAnswer" name="securityAnswer" required><br><br>

            <hr>
            <h3>Security Question for Recovery</h3>
            
            <label for="securityQuestion">Choose a Question</label><br>
            <select id="securityQuestion" name="securityQuestion" required>
                <option value="" disabled selected>Select your question</option>
                <option value="pet">What was the name of your first pet?</option>
                <option value="city">In what city were you born?</option>
                <option value="mother">What is your mother's maiden name?</option>
            </select><br><br>

            <label for="securityAnswer">Your Secret Answer</label><br>
            <input type="text" id="securityAnswer" name="securityAnswer" required><br><br>

            <hr>
            <h3>Security Question for Recovery</h3>
            
            <label for="securityQuestion">Choose a Question</label><br>
            <select id="securityQuestion" name="securityQuestion" required>
                <option value="" disabled selected>Select your question</option>
                <option value="pet">What was the name of your first pet?</option>
                <option value="city">In what city were you born?</option>
                <option value="mother">What is your mother's maiden name?</option>
            </select><br><br>

            <label for="securityAnswer">Your Secret Answer</label><br>
            <input type="text" id="securityAnswer" name="securityAnswer" required><br><br>

            <button class="reg-button">Register</button><br>
            <p>Have an account? <a href="/users/log-in">Login</a></p>
        </form>
    </div>
    
</main>

</div>

<%- include('../partials/footer.ejs')%>